@{
    ViewData["Title"] = "Erro - Desafio Técnico";
}

<div class="error">
    <h1>Erro 500</h1>
        <p>
            Mil perdões! Estamos demitindo um programador nesse momento...
        </p>
</div>