@{
  ViewData["Title"] = "Desafio Técnico";
}

<!-- Sidebar -->
<nav class="collapse sidebar d-md-block" id="sidebarCollapse">
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action mx-auto" aria-current="page" href="#!/">Home</a>
    <a class="list-group-item list-group-item-action mx-auto" href="#!/register">Cadastro</a>
  </div>
</nav>

<!-- Angular routing -->
<div ng-view></div>